<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Listado de cargas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Frecuencia</th>
                        <th>Hora</th>
                        <th>Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let carga of cargas" class="text-center">
                        <td>{{carga.frecuencia}}</td>
                        <td>{{carga.hora}}</td>
                        <td><button (click)="Editar(carga)" class="btn btn-warning">Editar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>