<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar Carga</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Frecuencia:</label>
                    <input [(ngModel)]="carga.frecuencia" name="frecuencia" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Hora:</label>
                    <input  [(ngModel)]="carga.hora" name="hora" type="time" class="form-control">
                </div>
                <button (click)="Actualizar(carga)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>
